<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %} <!-- New line -->

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <h1> 'here is the about page.'</h1>
    <div>
        hey there partner! <br />
        <strong>This tutorial has been put
            together by Yifei Yu. </strong><br />
    </div>

    <div>
        <a href="/rango/">Exit</a><br />
        <img src="{% static 'images/rango.jpg' %}"
        alt="Picture of Rango" /> <!-- New line -->
    </div>

    <div>
        <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat."/>
    </div>
    <div>
         <p>Visits: {{ visits }}</p>
    </div>
{% endblock %}